{% extends "base.html"%}
{% load static %}



{% block page_title %} Campaign Record Call Flow {% endblock page_title %}



{% block content %}

<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h4>We could not find the page you were looking for.</h4>
      <p>Please contact the administrator.</p>
      <img src="{% static 'assets/img/PageNotFound-404.png' %}" alt="404 Icon" class="img-fluid" style="max-height: 500px;">
      <a href="{% url 'home-page' %}" class="btn btn-outline-primary my-3" style="width: 10rem;">Home</a>
    </div>
  </div>
</div>

{% endblock content %}